<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>一卡通系统</title>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<!--[if lte IE 8]><link rel="stylesheet" href="/css/responsive-nav.css"><![endif]-->
		<!--[if gt IE 8]><!--><link rel="stylesheet" href="/css/styles.css"><!--<![endif]-->
		<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<script src="/js/responsive-nav.js"></script>
	</head>
	<body>
		<div role="navigation" id="foo" class="nav-collapse">
			<ul>
				<li id="user_info"><a>个人信息</a></li>
				<li id="account"><a>账户余额</a></li>
				<li id="record"><a>交易记录</a></li>
				<li id="info_modify"><a>信息修改</a></li>
				<li id="pwd_modify"><a>密码修改</a></li>
				<li id="bind_card"><a>卡片绑定</a></li>
				<li id="cash"><a>充值提现</a></li>
				<li id="friend"><a>好友转账</a></li>
				<li id="score"><a>积分管理</a></li>
			</ul>
		</div>
		<div role="main" class="main">
			<a href="#nav" class="nav-toggle">Menu</a>
			<div id="main_page">
			</div>
		</div>
		<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
		<script>
			$(document).ready(function() {
				var navigation = responsiveNav("foo", {customToggle: ".nav-toggle"});
				$("#user_info").click(function(){
					$(this).parent().children().removeClass('active');
					$(this).addClass('active');
					$.ajax({
						url  : "get_user_info",
						type : "post", 
						async: false,
						success: function(res) {
							if (res.code == 0) {
								try {
									$('#main_page').load("user_info", {
										"email": res.msg[0].EMAIL,
										"nick": res.msg[0].NICK,
										"status": res.msg[0].STATUS1,
										"type": res.msg[0].TYPE,
										"name": res.msg[0].NAME,
										"sex": res.msg[0].SEX,
										"minority": res.msg[0].MINORITY,
										"home_town": res.msg[0].HOME_TOWN,
										"phone": res.msg[0].PHONE,
										"city": res.msg[0].CITY,
										"school": res.msg[0].SCHOOL,
										"academy": res.msg[0].ACADEMY,
										"class": res.msg[0].CLASS1
									});
									} catch(err) {
									$('#main_page').load("failed");
								}
								} else {
								$('#main_page').load("failed");
							}
						},
						error : function(res) {
							$('#main_page').load("failed");
						}
					});

				});
				$("#account").click(function(){
					$(this).parent().children().removeClass('active');
					$(this).addClass('active');
					$.ajax({
						url  : "get_account", 
						type : "post", 
						async: false,
						success: function(res) {
							if (res.code == 0) {
								try {
									$('#main_page').load("account", {"account": res.msg[0].ACCOUNT});
									} catch(err) {
									$('#main_page').load("failed");
								}
								} else {
								$('#main_page').load("failed");
							}
						},
						error : function(res) {
							$('#main_page').load("failed");
						}
					});
				});
				$("#record").click(function(){
					$(this).parent().children().removeClass('active');
					$(this).addClass('active');
					$('#main_page').load("record");
				});
				$("#info_modify").click(function(){
					$(this).parent().children().removeClass('active');
					$(this).addClass('active');
					$('#main_page').load("info_modify");
				});
				$("#pwd_modify").click(function(){
					$(this).parent().children().removeClass('active');
					$(this).addClass('active');
					$('#main_page').load("pwd_modify");
				});
				$("#bind_card").click(function(){
					$(this).parent().children().removeClass('active');
					$(this).addClass('active');
					$('#main_page').load("bind_card");
				});
				$("#cash").click(function(){
					$(this).parent().children().removeClass('active');
					$(this).addClass('active');
					$('#main_page').load("cash");
				});
				$("#friend").click(function(){
					$(this).parent().children().removeClass('active');
					$(this).addClass('active');
					$('#main_page').load("friend");
				});
				$("#score").click(function(){
					$(this).parent().children().removeClass('active');
					$(this).addClass('active');
					$('#main_page').load("score");
				});
			});
		</script>
	</body>
</html>
